.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.case {
  width: 50px;
  height: 50px;
}

.visible {
  //background-color: burlywood;
}

.cachee {
  background-color: grey;
}

.case-a{
  background-color: burlywood;
}

.case-b{
  background-color: darkslateblue;
}

.case-c{
  background-color: darkolivegreen;
}

.case-d{
  background-color: darkcyan;
}

.case-e{
  background-color: cadetblue;
}

.case-f{
  background-color: brown;
}

.case-g{
  background-color: coral;
}

.case-h{
  background-color: darkslateblue;
}

.case-i{
  background-color: cornflowerblue;
}

.case-j{
  background-color: blue;
}

.case-k{
  background-color: darkkhaki;
}

.case-l{
  background-color: darkorchid;
}

.case-m{
  background-color: darkgoldenrod;
}

.case-n{
  background-color: dodgerblue;
}

.case-o{
  background-color: darkorange;
}

.case-p{
  background-color: forestgreen;
}

.case-q{
  background-color: fuchsia;
}

.case-r{
  background-color: hotpink;
}

.case-s{
  background-color: deeppink;
}

.case-t{
  background-color: dimgrey;
}

.case-u{
  background-color: deepskyblue;
}

.case-v{
  background-color: azure;
}

.case-w{
  background-color: darkred;
}

.case-x{
  background-color: darkturquoise;
}

.case-y{
  background-color: lightseagreen;
}

.case-z{
  background-color: greenyellow;
}

